#chatbox {
	width:50%;
    text-align:left;
	background-color:#F7F7F7;
    height:250px;
	border:1px solid black;
    overflow: auto;
	margin-left: auto;
    margin-right: auto;
}


p.userPost {
    background-color: #9acdf9;
    width: 75%;
  
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

p.botPost {
    background-color: #f99a9a;
    width: 75%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 25%;
   
}

.input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}